@import "./variables.scss";
html {
  font-family: $mainFontReg;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  word-spacing: 1px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  color: rgb(70, 70, 70);
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  &::placeholder {
    font-family: $myriadMedium !important;
  }
}

select {
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // -ms-appearance: none;
  // appearance: none;
}

button {
  border: none;
  background: $mainOrange;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: white;
  font-family: $mainFontReg;
  font-weight: 500;
  font-size: 20px !important;

  span {
    font-size: 20px;
    color: white;
  }
  &:focus {
    border: none;
    outline: none;
  }
  &:hover {
    border-radius: 3px;
    background: $paleOrange;
  }
}

.container {
  max-width: 1170px;
  padding: 100px 20px;
  margin: 0 auto;
}

.heading-1 {
  font-size: 40px;
  text-align: center;
  font-family: $robotoSuperBold;
  margin-bottom: 40px;
  color: rgb(90, 90, 90);
}

.heading-2 {
  font-size: 40px;
  text-align: center;
  font-family: $robotoBold;
  margin-bottom: 60px;
}

.light-background {
  background: $lightBackground;
}

.disable_scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.show-drop-shadow {
  opacity: 1 !important;
  z-index: 998 !important;
}

.full-height {
  min-height: 100vh;
}

.arrow-right {
  transform: rotate(180deg);
}

.arrow-text {
  display: grid;
  align-items: center;
  grid-gap: 10px;
  grid-template-columns: max-content 20px;
  justify-content: center;
  cursor: pointer;
  font-family: $myriadBold;

  svg {
    width: 80%;
    height: auto;
  }
}

.toast {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.219) !important;
  border-radius: 4px !important;
  font-size: 18px !important;
  font-family: $myriadMedium;
  * {
    color: white;
  }
}

.toasted {
  font-family: $robotoMedium;
  i {
    color: white;
  }
}

.toasted.error {
  background: $mainOrange !important;
  i {
    color: white;
  }
}
.toasted.info {
  background: rgb(80, 80, 80) !important;
  i {
    color: white;
  }
}

.toasted.success {
  background: $paleOrange !important;
}

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 16px;
  }
  .container {
    padding: 70px 15px;
  }
  .heading-1 {
    font-size: 34px;
  }
  .heading-2 {
    font-size: 30px;
  }
  .toast {
    min-height: 60px !important;
  }
}
