$phone: 768px;
$tablet: 1025px;
$desktop: 1920px;

@mixin phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
