$paleOrange: rgb(243, 154, 72);
$mainOrange: #eb6b0a;
$lightBackground: #f7f7f7;
$paleFont: rgb(85, 85, 85);

$robotoMedium: "robotoMedium";
$robotoLight: "robotoLight";
$robotoBold: "robotoBold";
$robotoSuperBold: "robotoSuperBold";

$myriadMedium: "myriadMedium";
$myriadLight: "myriadLight";
$myriadBold: "myriadBold";

$mainFontReg: "ProximaNovaReg";
$mainFontBold: "ProximaNovaBold";
$mainFontBlack: "ProximaNovaBlack";
$mainFontLight: "ProximaNovaLight";
$superBoldFont: "CoreSans";
